{% extends '::base.html.twig' %}

{% block title %}Acme Demo Application{% endblock %}

{% block body %}
	<div class="container">
    	Bienvenido a la zona de gestion de usuarios.
    </div>
{% endblock %}