{% extends '::base.html.twig' %}

{% block title %}Vistatravek Tour Operador: Administracion{% endblock %}

{% block headerright %}
	<span class="orange">Hola, </span><span class="blue">{{ app.user.username }}</span>&nbsp;<a href="{{ url('fos_user_security_logout') }}" style="display:inline;">close</a>
{% endblock %}

{% block content %}

	{% include is_granted('ROLE_ADMIN') ? 'AcmeAdminBundle:Default:menu.html.twig' : 'AcmeAdminBundle:Default:menu_noadmin.html.twig' %}

	{% block container %}
	{% endblock %}
{% endblock %}