{% extends '::base.html.twig' %}

{% block title %}Acme Demo Application{% endblock %}

{% block stylesheets %}
    {{ parent() }}
 
    <link href="{{ asset('/css/login.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
	<div class="container">
    	{% block fos_user_content %}{% endblock %}
    </div>
{% endblock %}